<template>
  <div class="page" data-name="report">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Contact us </div>
      </div>
    </div>
    <div class="page-content">
      <form class="list inset" id="my-form">
        <ul>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Name</div>
                <div class="item-input-wrap">
                  <input type="text" name="name" placeholder="Your name">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">E-mail</div>
                <div class="item-input-wrap">
                  <input type="email" name="email" placeholder="E-mail">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Message</div>
                <div class="item-input-wrap">
                  <textarea type="email" name="email" placeholder="Message"></textarea>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="javascript:" class="col button button-raised button-outline margin-bottom" >Send message</a>
          </li>
        </ul>
      </form>

    </div>
  </div>
</template>

<script>
  return {
    data: function () {
      return {
        animals:this.$root.animals,
        dictionary: this.$root.dictionary
      };
    }
  };
</script>
