<template>
  <div class="page" data-name="dashboard" >
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">

        </div>
        <div class="title"><img class="navbar-horizontal-logo" src="css/img/lifesafecrossinglogohorizontal.png" alt=""></div>
      </div>
    </div>
    <div class="page-content page-content-dashboard">
      <div class="block">
        <div class="intro-box text-align-center">
          The life safe crossing project aims at implementing actions to reduce the impact of roads on some priority species in four European countries. <br>
          These species are severly threatened by road infrastructures, both by direct mortality as well as the barrier effect.<br>
          This app was produced with the financial contribution of the LIFE fund of the European Union
        </div>

      </div>
      <div class="block background-transparent">

        <div class="list no-hairlines-md background-transparent">
          <ul class="background-transparent">+
            <div class="row">
              <div class="col-50">
                <a href="/report/" class="display-block button-v-padding button button-raised button-outline margin-bottom button-fill" >Nuovo report</a>
                <a href="/map/" class="display-block button button-v-padding button-raised button-outline margin-bottom button-fill" >Map</a>
              </div>
              <div class="col-50">
                <a href="/ranking/" class="display-block button button-v-padding button-raised button-outline margin-bottom button-fill" >Ranking</a>
                <a href="/contact-us/" class="display-block button button-v-padding button-raised button-outline margin-bottom button-fill" >Contact us</a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a href="/settings/" class="display-block button button-v-padding button-raised button-outline margin-bottom button-fill" >Settings</a>
              </div>
            </div>
          </ul>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
  return {
    data: function () {
      return {
        dictionary: this.$root.dictionary,
      };
    }
  };
</script>
