<template>
  <div class="page" data-name="report">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">List reports</div>
      </div>
    </div>
    <div class="page-content">
      <div id="custom_map_canvas_reports_list" style="height:100%; width:100%;">

      </div>
    </div>
  </div>
</template>

<script>
  return {
    data: function () {
      return {
        animals:this.$root.animals,
        dictionary: this.$root.dictionary
      };
    }
  };
</script>
