
  <div class="page" data-name="report">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Rankings </div>
      </div>
    </div>
    <div class="page-content">
      <script id="rankingPageTemplate" type="text/template7">
        <div class="block">
          <div class="list media-list">
            <ul>
              {{#each users}}
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://erp.amtitalia.com/admin/assets/alife/gold-trophy.png" width="44"/></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">{{name}} {{surname}}</div>
                    </div>
                    <div class="item-subtitle">{{reports_count}} segnalazioni</div>
                  </div>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </script>
      <div id="rankingPage">

      </div>
    </div>
  </div>
