<template>
  <div class="page" data-name="report">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">About</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block text-align-center">
        <img class="logo-sign-in-up" src="css/img/lifesafecrossinglogo.png" alt="">
      </div>
      <div class="block-title text-align-center">
        <h1>Thank you!</h1>
        <p>Thank you for your report! </p>
      </div>

      <div class="block">
      </div>
    </div>
  </div>
</template>

<script>
  return {
    data: function () {
      return {
        dictionary: this.$root.dictionary
      };
    }
  };
</script>
