<template>
  <div class="page" data-name="report">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Report</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block-title">{{dictionary.new_report}}</div>
      <div id="custom_map_canvas">
        <div id="custom_map_center_pointer">
          +
        </div>
        <div id="custom_map_canvas_controllers">
          <a href="javascript:" onclick="centerMap();"> <i class="fas fa-map-marker-alt fa-2x"></i> </a>
        </div>
      </div>
      <div id="latLngLog">

      </div>

      <div class="block">
        <form id="reportForm">
          <a href="javascript:" class="col button button-raised button-outline " onclick="cameraTakePicture()">Add photo</a>
          <input type="hidden" name="report[cms_user_id]" value="{{js 'user.id'}}">
          <input type="hidden" name="lat" value="">
          <input type="hidden" name="lng" value="">

          <div class="animalsLists list">
            <ul>
              <li>
                <input type="hidden" name="files" value="" id="filesList">
                <div class="imagesList row">

                </div>
              </li>

              <li>
                <div id="animalsSmartSelect">

                </div>

              </li>


              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <textarea placeholder="Note" name="report[notes]"></textarea>
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li>
                <label class="item-radio item-content">
                  <input type="radio" name="report[reporttype_id]" value="1" checked />
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">Spot</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="item-radio item-content">
                  <input type="radio" name="report[reporttype_id]" value="2" />
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">Accident</div>
                  </div>
                </label>
              </li>
            </ul>
          </div>
          <a href="javascript:" onclick="sendReport()" class="col button button-large button-raised button-outline" >Invia report</a>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  return {
    data: function () {
      return {
        dictionary: this.$root.dictionary,
        user: this.$root.user
      };
    }
  };
</script>
