<div class="page" data-name="settings">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
      <div class="title">Settings</div>
    </div>
  </div>
  <div class="page-content">
    <script id="settingsPageTemplate" type="text/template7">
      <form id="settingsForm">
        <div class="block-title">User profile</div>
        <div class="list no-hairlines-md">
          <ul>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Name*</div>
                  <div class="item-input-wrap">
                    <input name="name" placeholder="Your name" value="{{user.name}}"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Surname*</div>
                  <div class="item-input-wrap">
                    <input name="surname" placeholder="Your surname" value="{{user.surname}}"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">E-mail*</div>
                  <div class="item-input-wrap">
                    <input name="email" placeholder="E-mail" value="{{user.email}}"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Password*</div>
                  <div class="item-input-wrap">
                    <input type="password" name="password" placeholder="Password"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Ripeti Password*</div>
                  <div class="item-input-wrap">
                    <input type="password" name="repeat_password" placeholder="Password"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Phone</div>
                  <div class="item-input-wrap">
                    <input name="phone" placeholder="Phone" value="{{user.phone}}"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Gender</div>
                  <div class="item-input-wrap">
                    <select name="gender">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Birth date</div>
                  <div class="item-input-wrap">

                    <input name="birth_date" placeholder="Birth day" value="{{user.birth_date}}"/>
                  </div>
                </div>
              </div>
            </li>
          </ul>

        </div>
        <div class="block">
          <a href="javascript:" class="button button-raised button-fill popup-open" id="submitSettingsForm">Update</a>
        </div>
      </form>
    </script>
    <div id="settingsPage">

    </div>
  </div>



</div>
