<template>
  <div class="page" data-name="sign-up">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Registrati</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block-title">Registrati </div>
      <div class="list no-hairlines-md">
        <div class="block text-align-center">
          <img class="logo-sign-in-up" src="css/img/lifesafecrossinglogo.png" alt="">
        </div>
        <form id="signUpForm">


          <ul>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">{{dictionary.name}}*</div>
                  <div class="item-input-wrap">
                    <input name="name" placeholder="Your name"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Surname*</div>
                  <div class="item-input-wrap">
                    <input name="surname" placeholder="Your surname"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">E-mail*</div>
                  <div class="item-input-wrap">
                    <input name="email" placeholder="E-mail"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Password*</div>
                  <div class="item-input-wrap">
                    <input type="password" name="password" placeholder="Password"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Ripeti Password*</div>
                  <div class="item-input-wrap">
                    <input type="password" name="repeat_password" placeholder="Password"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Phone</div>
                  <div class="item-input-wrap">
                    <input name="phone" placeholder="Phone"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Gender</div>
                  <div class="item-input-wrap">
                    <select name="gender">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Birth date</div>
                  <div class="item-input-wrap">
                    <input name="birth_date" placeholder="Birth day" value="2014-04-30"/>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          </form>
          <div class="block">
            <a href="javascript:" class="button button-raised button-fill popup-open" id="submitSignUpForm">Registrati</a>
          </div>

      </div>
    </div>
  </div>
</template>
<script>
  return {
    data: function () {
      return {
        dictionary: this.$root.dictionary,
      };
    }
  };
</script>
