<template >


  <div class="page" data-name="login">

    <div class="page-content login-screen-content">
      <div class="login-screen-title">{{dictionary.login}}</div>

      <div class="block text-align-center">
        <img class="logo-sign-in-up" src="css/img/lifesafecrossinglogo.png" alt="">
      </div>

      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Username</div>
              <div class="item-input-wrap">
                <input id="sign-in-email" type="text" name="username" placeholder="Your username" value="dev@amtitalia.com">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Password</div>
              <div class="item-input-wrap">
                <input id="sign-in-password" type="password" name="password" placeholder="Your password" value="password">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li>
            <a href="#" id="sign-in-button" class="item-link list-button login-button button-raised">Sign In</a>
          </li>
          <li>
            <a href="/sign-up/" class="item-link list-button login-button">Sign Up</a>
          </li>
        </ul>
        <div class="block-footer">This app was produced with the financial contribution of the LIFE fund of the European Union</div>
      </div>
    </div>
  </div>

</template>
<script>
  return {
    data: function () {
      return {
        dictionary: this.$root.dictionary,
      };
    }
  };
</script>
