/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #486225;
  --f7-theme-color-rgb: 72, 98, 37;
  --f7-theme-color-shade: #32441a;
  --f7-theme-color-tint: #5e8030;
}

/* Your app custom styles here */

.report-img{
    height: 120px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
 background-size: cover;
 margin-bottom: 15px;
}

.report-img-delete-button{

}


.page-content-dashboard{
  background: url('https://erp.amtitalia.com/admin/assets/alife/background-road.jpg') no-repeat center center fixed;
  background-size:cover
}

.background-transparent{
  background-color: transparent!important;
}


.intro-box{
  color: #fff;
  padding: 20px;
  font-weight: bold;
  border-radius: 6px;
  background-color: rgba(65,99,25,0.45);
}

#custom_map_canvas{
  height:200px;
  width:100%;
  position: relative;
}

#custom_map_canvas_controllers{
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#custom_map_center_pointer{
  position: absolute;
  color: #000;
  height: 10px;
  width: 10px;
  top:95px;
  left: 50%;
  margin-left: -5px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  line-height: 12px;
  padding: 5px;

}


.item-input-wrap, .item-input-wrap input{
  border: none!important;
}


.logo-sign-in-up{
  width: 50%;
}


.button-v-padding{
  padding: 50px 10px;
  line-height: 5px;
}

.navbar-horizontal-logo{
  height: 40px;
}
